@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/CinzelDecorative-Regular.ttf');
}
@font-face {
    font-family: 'CinzelBold';
    src: url('../fonts/CinzelDecorative-Bold.ttf');
}
@font-face {
    font-family: 'CinzelBlack';
    src: url('../fonts/CinzelDecorative-Black.ttf');
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: #7f9bb9;
}

.alert-warning {
  background-color: #f8ff78 !important;
}

.bold {
  font-weight: 600 !important;
}

pre {
    margin-bottom: 10px !important;
}

pre[class*=language-] {
  padding: 0 1em;
}

.shimR {
    margin-right: 10px;
}

.alert-info {
    color: #0e96b3 !important;
}

.divider .divider-text {
    font-size: 1.1rem !important;
    padding: 0rem 1rem;
}

#searchbar:focus { filter: drop-shadow(5px 5px 28px #2a2a2a); cursor: help;  }

code {
    font-size: 100%;
}

.logo-text {
    background: -webkit-linear-gradient(83deg, rgba(9,3,122,1) 0%, rgba(34,84,161,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6em;
    font-family: Cinzel;
}

/* Thin strip above nav for spacing */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal) .layout-page:before {
    visibility: hidden !important;
    content: "";
    width: 100%;
    height: 0.75rem;
    position: fixed;
    top: 0px;
    z-index: 10;
    background: linear-gradient(#2e2a2a 41%, rgba(62, 58, 58, 0.11) 95%, rgb(114 102 102 / 6%)) !important;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f0f094;
  transition: background 0.2s linear;
}

.dark {background-color: #0a0a0a;} /* #9b59b6 */

body.dark {background-color: #0a0a0a !important;} /* #9b59b6 */
body.dark html,
body.dark footer,
body.dark .card-body, 
body.dark .layout-navbar-fixed, 
body.dark .layout-menu, 
body.dark .layout-navbar,
body.dark :not(pre)>code[class*=language-], pre[class*=language-] {background-color: #17181a !important; font-size: 1.1em;}
body.dark #searchbar:focus { filter: drop-shadow(5px 5px 28px #4920d9); cursor: help;  }
body.dark .bg-menu-theme .menu-inner-shadow {
    background: linear-gradient(#2e2a2a 41%, rgba(62, 58, 58, 0.11) 95%, rgb(114 102 102 / 6%));
}
body.dark .bg-menu-theme .menu-link, .bg-menu-theme .menu-horizontal-prev, .bg-menu-theme .menu-horizontal-next {
    color: #7c8ea3 !important;
}
body.dark .bg-menu-theme .menu-link:hover, .bg-menu-theme .menu-link:focus, .bg-menu-theme .menu-horizontal-prev:hover, .bg-menu-theme .menu-horizontal-prev:focus, .bg-menu-theme .menu-horizontal-next:hover, .bg-menu-theme .menu-horizontal-next:focus {
    color: #87a5c4 !important;
}
body.dark .nav-align-top > .tab-content, .nav-align-right > .tab-content, .nav-align-bottom > .tab-content, .nav-align-left > .tab-content {
    background: #0a0a0a !important;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}









/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #0a0a0a;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}