{% extends 'docs.html.twig' %}

{% block title %}Documentation | Install - Rhapsody Framework{% endblock %}

{% block content %}
<section id="installation">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Installation</h3>
            <div class="card-subtitle text-muted mb-3">
                Installing Rhapsody Framework is a breeze! Before you begin, please make sure that your environment 
                meets the following requirements. 
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-circle-exclamation shimR"></i> Requirements</h5>
            <p class="card-text">
                
            </p>
        </div>
    </div>
    <div id="jstree-custom-icons" class="jstree jstree-2 jstree-default-dark" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j2_1" aria-busy="false"><ul class="jstree-container-ul jstree-children" role="presentation"><li role="none" id="j2_1" class="jstree-node  jstree-closed"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="j2_1_anchor"><i class="jstree-icon jstree-themeicon bx bx-folder jstree-themeicon-custom" role="presentation"></i>css</a></li><li role="none" id="j2_4" class="jstree-node  jstree-open"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j2_4_anchor"><i class="jstree-icon jstree-themeicon bx bx-folder jstree-themeicon-custom" role="presentation"></i>img</a><ul role="group" class="jstree-children"><li role="none" id="j2_5" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j2_5_anchor"><i class="jstree-icon jstree-themeicon bx bx-image text-success jstree-themeicon-custom" role="presentation"></i>bg.jpg</a></li><li role="none" id="j2_6" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j2_6_anchor"><i class="jstree-icon jstree-themeicon bx bx-image text-success jstree-themeicon-custom" role="presentation"></i>logo.png</a></li><li role="none" id="j2_7" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j2_7_anchor"><i class="jstree-icon jstree-themeicon bx bx-image text-success jstree-themeicon-custom" role="presentation"></i>avatar.png</a></li></ul></li><li role="none" id="j2_8" class="jstree-node  jstree-open"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="true" id="j2_8_anchor"><i class="jstree-icon jstree-themeicon bx bx-folder jstree-themeicon-custom" role="presentation"></i>js</a><ul role="group" class="jstree-children"><li role="none" id="j2_9" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j2_9_anchor"><i class="jstree-icon jstree-themeicon bx bxl-nodejs text-warning jstree-themeicon-custom" role="presentation"></i>jquery.js</a></li><li role="none" id="j2_10" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="j2_10_anchor"><i class="jstree-icon jstree-themeicon bx bxl-nodejs text-warning jstree-themeicon-custom" role="presentation"></i>app.js</a></li></ul></li><li role="none" id="j2_11" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="j2_11_anchor"><i class="jstree-icon jstree-themeicon bx bxl-html5 text-danger jstree-themeicon-custom" role="presentation"></i>index.html</a></li><li role="none" id="j2_12" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="j2_12_anchor"><i class="jstree-icon jstree-themeicon bx bxl-html5 text-danger jstree-themeicon-custom" role="presentation"></i>page-one.html</a></li><li role="none" id="j2_13" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="j2_13_anchor"><i class="jstree-icon jstree-themeicon bx bxl-html5 text-danger jstree-themeicon-custom" role="presentation"></i>page-two.html</a></li></ul></div>
    <div class="col-md-6 col-12">
        <div class="card mb-4">
          <h5 class="card-header">Custom Icons</h5>
          <div class="card-body">
            <div id="jstree-custom-icons"></div>
          </div>
        </div>
      </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Sending Emails</h5>
            <p class="card-text">
                Once you have your SMTP credentials saved, you can use the Email helper by 
                importing it into your controller.
            </p>

<pre>
<code class="language-php" data-plugin-header="show-language">
use \Src\Middleware\EmailHelper;
use Symfony\Component\Mailer\Mailer;
use Symfony\Component\Mailer\Transport;
use Symfony\Component\Mailer\Exception\TransportExceptionInterface;
</code>
</pre>

            <p class="card-text">
                Next, we need to define the Twig template file for the email. By default, 
                Rhapsody stores its email templates in the <code>/app/template/views/emails/</code> directory.
            </p>

<pre>
<code class="language-php" data-plugin-header="show-language">
$template = 'emails/test.html.twig';
</code>
</pre>

            <a href="javascript:void(0)" class="card-link">Card link</a>
            <a href="javascript:void(0)" class="card-link">Another link</a>
        </div>
    </div>
</section>
{% endblock %}