{% extends "base.html.twig" %}

{% block title %}Error 404 - Controller Not Found{% endblock %}

{% block content %}
<div class="shim"></div>
<section id="about" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <pre>
            <code>
                <h3>Controller Not Found</h3>
                <h5>
                    {{ controller }}_Controller was not found.
                </h5>
            </code>
        </pre>
    </div>
</section>
{% endblock %}