{% extends "base.html.twig" %}

{% block title %}Error 404 - Page Not Found{% endblock %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="pageNotFound"></div>
    </div>
</section>
{% endblock %}