{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <p class="important">
            Welcome to my awesome homepage.
        </p>
    </div>
</section>
{% endblock %}