{# This template extends the main layout #}
{% extends "layouts/main.twig" %}

{# This defines the content for the 'content' block in the parent template #}
{% block content %}
    <h2>Welcome to the Home Page!</h2>
    <p>Hello, my name is {{ name }}.</p>
{% endblock %}