{% extends 'docs.html.twig' %}

{% block title %}Search Results | Rhapsody Framework{% endblock %}

{% block content %}
<section id="searchresults">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Results</h3>
            <div class="card-subtitle text-muted mb-3">
                <p class="card-text">
                {% if results|length > 0 %}
                	{% for result in results %}

                		<div>{{ result.subcategory }}</div>
                	
                	{% endfor %}

                	{{ links|raw }}

                {% else %}
                	<p>No results found</p>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}